.algorithm p {
  margin-top: 0;
  margin-bottom: 0;
}

.algorithm blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

:root[data-theme="dark"] .invertible {
  filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
}
