<script
  type="text/javascript"
  async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"
></script>
<script>
  let toggleDark = () => {
    let setDark = jtd.getTheme() !== 'dark';
    document.documentElement.setAttribute('data-theme', setDark ? 'dark' : 'default');
    jtd.setTheme(setDark ? 'dark' : 'default');
    localStorage.setItem('darkMode', String(setDark));
  };

  window.addEventListener('DOMContentLoaded', () => {
    /* Add event to dark mode button. */
    let a = document.getElementsByClassName('site-button')[2];
    a.addEventListener('click', (e) => {
      e.preventDefault();
      toggleDark();
    });

    /* Read local storage state. */
    if (localStorage.getItem('darkMode') === 'true') {
      document.documentElement.setAttribute('data-theme', 'dark');
      toggleDark();
    } else {
      document.documentElement.setAttribute('data-theme', 'default');
    }
  });
</script>
