name: Auto-Format Source

on:
  workflow_dispatch:

env:
  GIT_AUTHOR_NAME: CS 161 Textbook Formatter
  GIT_COMMITTER_NAME: CS 161 Textbook Formatter
  GIT_AUTHOR_EMAIL: cs161-staff@berkeley.edu
  GIT_COMMITTER_EMAIL: cs161-staff@berkeley.edu

jobs:
  ci:
    name: Run Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run Prettier
        run: yarn prettier
      - name: Commit and push formatted code
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git add -A
            git commit -m 'Run textbook formatter'
            git push
          fi
